<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <location path="CFDIRIP.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Cliente.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Facturar.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Producto.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
