/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color: #7B92A5;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    
}
.btn-profile {
    margin-top: 8px;
}
.btn-profile i{
    margin-left:5px;
}
.btn-profile ul {
    background-color: #FFF;
    list-style: none;
    padding: 0px;
}
.btn-profile ul li {
    padding: 0px 8px;
}
.btn-profile ul li a {
    text-decoration: none;
    width:100%;
}
.btn-profile ul li i {
    padding-right: 8px;
    color: #000;
}
.card {
    border-radius: 10px;
    padding:0px 20px 0px 20px;
}
.custom-content{
    padding:0px !important;
    margin:0px !important;
}
.custom-section {
}
label {
    text-align: left;
    padding: 0px !important;
    padding-top: 7px !important;
    margin: 0px !important;
}
input {
    max-width: 100% !important;
}
hr {
    border-color:#7B92A5;
}
.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    border-radius: 10px;
}
.marginpadding {
    margin: 0px;
    padding: 0px;
}
.paddinglr10 {
    margin:0px;
    padding: 0px 10px 0px 10px;
}
.fullwidth {
    width: 100% !important;
}
.modal-header {
    background-color: #7B92A5;
    color: #FFF;
}
.modal-header .close{
    color:red;
}
.modal-content {
    background-color: #A9B9C6;
    border-radius: 10px;
}
.modal-content table tr th {
    background-color: #7B92A5 !important;
    color: #FFF;
    text-align:center;
}
.modal-footer {
    background-color: #7B92A5;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}
/* ..:: Dashboard ::.. */
.bg-success {
    background-color: #28a745 !important;
}
.bg-yellow {
    background-color: #F5B041 !important;
}
.bg-danger {
    background-color: #dc3545 !important;
}
.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    width: 100%;
}
.info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    
}
.info-box-icon i{
    font-size:25px;
    color:#FFF;
}
.info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}
.info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-box .info-box-number {
    display: block;
    margin-top: .25rem;
    font-weight: 700;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 60px;
    }
    .body-content {
        padding: 0;
    }
}
