<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="Configuracion.aspx">
    <system.web>
      <authorization>
        <allow roles="Super"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Consulta.aspx">
    <system.web>
      <authorization>
        <allow roles="Super"/>
        <allow roles="Admin"/>
        <allow roles="Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Empresas.aspx">
    <system.web>
      <authorization>
        <allow roles="Super"/>
        <allow roles="Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Moneda.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Proveedor.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Registro.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Usuario.aspx">
    <system.web>
      <authorization>
        <allow roles="Super"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="RegistroTicket.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
